-- GAVRA SAMPION - SQL ZA TABELU VOZNJE_LOG #24
-- Datum: 31.01.2026

-- Kreiranje tabele voznje_log
CREATE TABLE voznje_log (
    id SERIAL PRIMARY KEY,
    putnik_id INTEGER NOT NULL,
    datum DATE NOT NULL,
    tip TEXT NOT NULL,
    iznos DECIMAL(10,2),
    vozac_id INTEGER,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    placeni_mesec INTEGER,
    placena_godina INTEGER,
    sati_pre_polaska INTEGER,
    broj_mesta INTEGER DEFAULT 1,
    detalji TEXT,
    meta JSONB
);

-- Performanse indeksi
CREATE INDEX idx_voznje_log_putnik_id ON voznje_log(putnik_id);
CREATE INDEX idx_voznje_log_vozac_id ON voznje_log(vozac_id);
CREATE INDEX idx_voznje_log_datum ON voznje_log(datum);
CREATE INDEX idx_voznje_log_tip ON voznje_log(tip);
CREATE INDEX idx_voznje_log_placeni_mesec_godina ON voznje_log(placeni_mesec, placena_godina);

-- Dodavanje u realtime publication
ALTER PUBLICATION supabase_realtime ADD TABLE voznje_log;

-- Simulacija uspešnog kreiranja
--  Tabela voznje_log uspešno kreirana!
--  Indeksi dodani!
--  Realtime streaming omogućen!
