-- Ispravljen SQL skript za registrovani_putnici
-- Bezbedno za pokretanje više puta

-- Osnovne informacije
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS putnik_ime TEXT NOT NULL DEFAULT '';
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS tip TEXT NOT NULL DEFAULT 'radnik';

-- Telefoni
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS broj_telefona TEXT;
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS broj_telefona_2 TEXT;
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS broj_telefona_oca TEXT;
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS broj_telefona_majke TEXT;

-- Polasci i termini
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS polasci_po_danu JSONB DEFAULT '{}';
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS radni_dani TEXT DEFAULT 'pon,uto,sre,cet,pet';

-- Datumi
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS datum_pocetka_meseca DATE;
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS datum_kraja_meseca DATE;

-- Status i kontrola
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS aktivan BOOLEAN DEFAULT true;
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS status TEXT DEFAULT 'radi';
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS obrisan BOOLEAN DEFAULT false;

-- Adrese (UUID reference)
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS adresa_bela_crkva_id UUID;
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS adresa_vrsac_id UUID;

-- Dodatne informacije
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS tip_skole TEXT;
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS tip_prikazivanja TEXT DEFAULT 'standard';
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS vozac_id UUID;
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS email TEXT;
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS pin TEXT;

-- Finansije
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS cena_po_danu NUMERIC;

-- Računi
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS treba_racun BOOLEAN DEFAULT false;
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS firma_naziv TEXT;
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS firma_pib TEXT;
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS firma_mb TEXT;
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS firma_ziro TEXT;
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS firma_adresa TEXT;

-- Kapacitet
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS broj_mesta INTEGER DEFAULT 1;

-- Timestamps (ako ne postoje)
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS created_at TIMESTAMPTZ DEFAULT NOW();
ALTER TABLE registrovani_putnici ADD COLUMN IF NOT EXISTS updated_at TIMESTAMPTZ DEFAULT NOW();

-- Foreign key constraint (bezbedno)
DO $$
BEGIN
    IF NOT EXISTS (SELECT 1 FROM pg_constraint WHERE conname = 'fk_registrovani_putnici_vozac_id') THEN
        ALTER TABLE registrovani_putnici ADD CONSTRAINT fk_registrovani_putnici_vozac_id
            FOREIGN KEY (vozac_id) REFERENCES vozaci(id) ON DELETE SET NULL;
    END IF;
END $$;

-- Indexes za performanse
CREATE INDEX IF NOT EXISTS idx_registrovani_putnici_aktivan_obrisan ON registrovani_putnici(aktivan, obrisan);
CREATE INDEX IF NOT EXISTS idx_registrovani_putnici_putnik_ime ON registrovani_putnici(putnik_ime);
CREATE INDEX IF NOT EXISTS idx_registrovani_putnici_vozac_id ON registrovani_putnici(vozac_id);
CREATE INDEX IF NOT EXISTS idx_registrovani_putnici_treba_racun ON registrovani_putnici(treba_racun);

-- Trigger za automatsko ažuriranje updated_at
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$ language 'plpgsql';

CREATE OR REPLACE TRIGGER update_registrovani_putnici_updated_at
    BEFORE UPDATE ON registrovani_putnici
    FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();
