-- Migration: Add vozac_id to vreme_vozac table
-- Date: 2026-01-31

-- Add vozac_id column
ALTER TABLE public.vreme_vozac ADD COLUMN vozac_id UUID;

-- Create index for vozac_id
CREATE INDEX IF NOT EXISTS idx_vreme_vozac_vozac_id ON public.vreme_vozac USING btree (vozac_id);

-- Add foreign key constraint (optional, can be added later if vozac table exists)
-- ALTER TABLE public.vreme_vozac ADD CONSTRAINT fk_vreme_vozac_vozac_id 
-- FOREIGN KEY (vozac_id) REFERENCES vozaci(id) ON DELETE CASCADE;
